{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}

<h2 class="mb-4">My Notes</h2>

<a href="{{ url_for('notes.create_note') }}" class="btn btn-primary mb-4">
    + Create Note
</a>

{% if notes %}

    {% for note in notes %}

    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            <h4>{{ note.title }}</h4>

            <p>{{ note.content }}</p>

<a href="{{ url_for('notes.edit_note', id=note.id) }}"
   class="btn btn-warning btn-sm">
    Edit
  </a>

<a href="{{ url_for('notes.delete_note', id=note.id) }}"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Delete this note?');">
    Delete
</a>
        </div>
    </div>

    {% endfor %}

{% else %}

<p>No notes yet.</p>

{% endif %}

{% endblock %}