{% extends "base.html" %}

{% block title %}My Tasks{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>My Tasks</h2>

        <a href="{{ url_for('tasks.create_task') }}"
           class="btn btn-success">
            + New Task
        </a>

    </div>

    {% if tasks %}

        {% for task in tasks %}

        <div class="card mb-3 shadow-sm">

            <div class="card-body">

                <h4>{{ task.title }}</h4>

                <p>{{ task.description }}</p>

                <p>
                    <strong>Priority:</strong>
                    {{ task.priority }}
                </p>

                <p>
                    <strong>Due Date:</strong>
                    {{ task.due_date }}
                </p>
                <p>
    <strong>Status:</strong>

    {% if task.completed %}
        <span class="badge bg-success">Completed</span>
    {% else %}
        <span class="badge bg-warning text-dark">Pending</span>
    {% endif %}
</p>
                <a href="{{ url_for('tasks.edit_task', id=task.id) }}"
   class="btn btn-warning btn-sm">
    Edit
</a>

<a href="{{ url_for('tasks.delete_task', id=task.id) }}"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Delete this task?');">
    Delete
</a>

<a href="{{ url_for('tasks.complete_task', id=task.id) }}"
   class="btn btn-success btn-sm">
    {% if task.completed %}
        Undo
    {% else %}
        Complete
    {% endif %}
</a>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="alert alert-info">

            No tasks yet.

            <br><br>

            <a href="{{ url_for('tasks.create_task') }}"
               class="btn btn-primary">
                Create Your First Task
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}